<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.fluct.sample.samplefluctsdkapp">
    <!-- FluctSDK using permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- region AdColony -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- endregion -->

    <!-- region Tapjoy -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity android:name=".VideoInterstitialActivity"></activity>
        <!-- Required Google play services definition for using FluctSDK -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/> <!-- Required Activity definition for using FluctInterstitial -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".RewardedVideoActivity"/>
        <!-- region Banner -->
        <activity
            android:name=".BannerActivity"
            android:label="@string/banner_activity"/>
        <activity
            android:name=".banner.BannerRecyclerActivity"
            android:label="@string/banner_activity"/>
        <activity
            android:name=".banner.BannerLayoutXmlActivity"
            android:label="@string/banner_activity"/>
        <!-- endregion -->
    </application>

</manifest>